@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body{
  height: 100vh;
}

.HeaderDavi {
  h1 {
    font-size: 50px;
    font-weight: 400;
  }

  .divNav {
    background-color: #ffffff;
    display: flex;
    padding: 1.25rem;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .ulNav {
    display: flex;
    gap: 1.25rem;

    a {
      text-decoration: none;
      color: #000000;
    }

    a:hover {
      color: #133e87;
    }
  }

  .divSobre {
    
    background-color: #133e87;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.25rem;
    padding-top: 130px;

    .divNomeSobre {
      border-right: 2px solid #608bc1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2 {
        font-size: 50px;
        color: #ffffff;
      }

      h3 {
        color: #ffff00;
        margin-bottom: 10px;
      }

      .icons {
        display: flex;
        gap: 0.625rem;
        justify-content: center;

        a {
          width: 5%;
        }
        img {
          width: 100%;
        }
      }
    }

    .imgSobre {
      display: flex;
      justify-content: center;

      h3 {
        color: #ffffff;
      }

      img {
        object-fit: cover;
        width: 50%;
        height: 400px;
        border-radius: 50%;
      }
    }
  }
}

.Sobre {
  padding: 1.875rem;
  margin: 1.875rem 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
    margin-bottom: 0.625rem;
    font-size: 2.5rem;
    font-weight: 600;
  }

  p {
    width: 50%;
    text-align: justify;
    color: #383838;
    margin-bottom: 20px;
  }

  .tecnologias {
    display: flex;
    justify-content: center;
    gap: 20px;

    img {
      width: 8%;
    }
  }
}

.projetos {
  padding: 0.625rem 1.25rem;
  background-image: url(../public/macos-monterey-stock-black-dark-mode-layers-5k-3840x2160-5889.jpg);
  background-repeat: no-repeat;

  h2 {
    font-size: 2.1875rem;
    font-weight: 600;
    color: #ffffff;
  }

  .separador {
    border: 3px solid #ffff00;
    width: 30%;
  }

  .divProjeto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .Projeto {
      padding: 20px 0px;
      transition: 0.5s ease-in-out;

      img {
        width: 100%;
        border-radius: 0.625rem;
      }

      h2 {
        margin: 10px 0px;
        font-size: 50px;
        letter-spacing: 3px;
      }

      h2::after {
        content: "";
        width: 10%;
        height: 1.25rem;
        margin-left: 0.625rem;
        background-color: #133e87;
        display: inline-block;
      }

      p {
        color: #ffffff;
        text-align: justify;
      }

      .btn{
        margin: 10px 0px;
        border: none;
        background-color: #ffffff;
        color: #133e87;
        padding: 6px;
        border-radius: 8px;
        width: 100%;
        font-size: 25px;
        font-weight: 600;
        transition: 0.5s ease-in-out;

        a{
          color: #133e87;
          text-decoration: none;
        }

      }

      .btn:hover{
        background-color: #00000000;
        border: 2px solid #133e87;
        color: #133e87;
        transition: 0.5s ease-in-out;
      }
    }

    .Projeto:hover{
      transform: scale(1.03);
      transition: 0.5s ease-in-out;
    }
  }
}

.Cursos{
  padding: 0.625rem 6.25rem;
  margin: 1.875rem 0px;

  .divCurso{

    h2{
      text-align: center;
      font-size: 40px;
    }

    .cursosAba:after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background: linear-gradient(to right, #f06, #00f);
      margin-bottom: 10px;
    }  

    .cursosGrid{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.25rem;

      .curso{

        span{
          color: #383838;
          font-size: 16px;
        }

        .divInstituicao{
          display: flex;
          align-items: center;
          gap: .625rem;
          margin-bottom: .625rem;

          img{
            height: 1.5625rem;
          }
        }
      }
    }
  }
}

.certificados{
  padding: 20px;

  .divCertificados{
    background-color: #161616;
    border-radius: 10px;
    padding: 20px;

    h2{
      text-align: center;
      font-size: 40px;
      color: #ffffff;
    }

    .imagensCertifacados{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      width: 70%;
      margin: 20px auto;

      img{
        width: 100%;
        height: 300px;
      }
    }
  
  }

}